<app-header></app-header>
<div id="personal-info" *ngIf="userDetails">
  <h2>Personal info</h2>
  <div>Name: {{ userDetails.name }}</div>
  <div>Address: {{ userDetails.address }}</div>
  <div>Contact: {{ userDetails.contact }}</div>
  <div *ngIf="isEmployee()">Position: {{ position }}</div>
  <div *ngIf="isCourier()">Office: {{ office.name }}</div>
  <button (click)="editUserMode = true" class="action-button"><span class="material-icons">edit</span></button>
</div>

<div *ngIf="editUserMode" id="edit-user">
  <form (ngSubmit)="editUser(editUserFrom)" #editUserFrom="ngForm">
    <div>
      <label>Name: </label>
      <input type="text" name="userName" required [ngModel]="userDetails.name" minlength="2">
    </div>
    <div>
      <label>Address: </label>
      <input ngModel name="userAddress" required [ngModel]="userDetails.address" minlength="5">
    </div>
    <div>
      <label>Contact: </label>
      <input ngModel name="userContact" required [ngModel]="userDetails.contact" minlength="5">
    </div>
    <div>
      <button class="action-button text-button" type="submit" [disabled]="!editUserFrom.valid">Save</button>
      <button class="action-button text-button cancel-button" (click)="editUserMode = false">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="company">
  <div class="info">
    <h1>{{ company.name }}</h1>
    <div>Address: {{ company.address }}</div>
    <div>Contact: {{ company.contact }}</div>
  </div>

  <div *ngIf="!userDetails || isEmployee()">

    <form (ngSubmit)="calculate(calculateIncomeFrom)" #calculateIncomeFrom="ngForm">
      <h2>Income for period:</h2>
      <label for="from">From:</label>
      <input type="date" id="from" name="from" ngModel #dateInput required="">
      <br>
      <label for="to">To:</label>
      <input type="date" id="to" name="to" ngModel [min]="dateInput.value" required="">
      <button class="action-button text-button" type="submit" [disabled]="!calculateIncomeFrom.valid">Calculate</button>
    </form>

    <span id="income" *ngIf="income > -1">Income: <b>{{ income }}</b></span>
  </div>

  <app-office [companyId]="company.id" [userDetails]="userDetails"></app-office>
  <app-employee *ngIf="getEmployeeVisibility()" [companyId]="company.id"></app-employee>
  <app-client *ngIf="getClientVisibility()" [companyId]="company.id" [userDetails]="userDetails"></app-client>
  <app-order [companyId]="company.id" [userDetails]="userDetails"></app-order>
</div>
