<div *ngIf="company">
  <div class="info">
    <h1>{{ company.name }}</h1>
    <div>Address: {{ company.address }}</div>
    <div>Contact: {{ company.contact }}</div>
  </div>

  <app-office [companyId]="company.id" [userDetails]="userDetails"></app-office>
  <app-employee *ngIf="getEmployeeVisibility()" [companyId]="company.id"></app-employee>
  <app-client *ngIf="getClientVisibility()" [companyId]="company.id" [userDetails]="userDetails"></app-client>
  <app-order [companyId]="company.id"></app-order>
</div>
