<h1>Packages</h1>

<div id="package-list">
  <div id="table-header">
    <div>Id</div>
    <div>Sender</div>
    <div>Recipient</div>
    <div>Weight</div>
    <div>Price</div>
    <div>Office worker</div>
    <div>Courier</div>
    <div>Sent date</div>
    <div>Address</div>
    <div>Office</div>
    <div>Actions</div>
</div>
  <div id="package-wrapper" *ngFor="let package of packages">
    <div>
      <div>{{ package.id }}</div>
      <div>{{ package.sender.name }} - {{ package.sender.contact}}</div>
      <div>{{ package.recipient.name }} - {{ package.recipient.contact}}</div>
      <div>{{ package.weight }}</div>
      <div>{{ package.price }}</div>
      <div>{{ package.officeWorker.name }}</div>
      <div>{{ package.courier.name }}</div>
      <div>{{ package.sentDate }}</div>
      <div [innerText]="package.address ? package.address : '-'"></div>
      <div [innerText]="package.office ? package.office.name : '-'"></div>
      <div [innerText]="package.receivedDate ? package.receivedDate : 'PENDING'"></div>
      <div>
        <button (click)="edit(package)" class="action-button"><span class="material-icons">edit</span></button>
        <button (click)="delete(package.id)" class="action-button delete-button"><span class="material-icons">delete</span></button>
      </div>
    </div>
  </div>
  <div *ngIf="editPackageMode" id="edit-package">
    <form (ngSubmit)="editPackage(editPackageFrom, currentEditPackage.id)" #editPackageFrom="ngForm">
      <div>
        <label>Recipient: </label>
        <input name="packageRecipient" required [ngModel]="currentEditPackage.recipient">
      </div>

      <div>
        <label for="recipient">Recipient: </label>
        <select required [ngModel]="currentEditPackage.recipient" name="packageRecipient" id="recipient">
          <option *ngFor="let recipient of recipients" [value]="recipient" >{{recipient.name}}</option>
        </select>
       </div>

       <div>
        <label for="recipient">Office worker: </label>
        <select required [ngModel]="currentEditPackage.officeWorker" name="packageOfficeWorkerId" id="worker">
          <option *ngFor="let worker of workers" [value]="worker.id" >{{worker.name}}</option>
        </select>
       </div>

       <div>
        <label for="recipient">Courier: </label>
        <select required [ngModel]="currentEditPackage.courier" name="packageCourierId" id="courier">
          <option *ngFor="let courier of couriers" [value]="courier.id" >{{courier.name}}</option>
        </select>
       </div>
      <div>
        <label>Address: </label>
        <input ngModel name="packageAddress" required [ngModel]="currentEditPackage.address">
      </div>
      <div>
        <label for="office">Office: </label>
        <select required [ngModel]="currentEditPackage.office.id" name="packageOffice" id="office">
          <option *ngFor="let office of offices" [value]="office.id" >{{office.name}}</option>
        </select>
       </div>
       <div>
        <label>Received Date: </label>
        <input ngModel name="packageReceivedDate" required [ngModel]="currentEditPackage.receivedDate">
      </div>
      <div>
        <button class="action-button text-button" type="submit" [disabled]="!editPackageFrom.valid">Save</button>
        <button class="action-button text-button cancel-button" (click)="editPackageMode = false">Cancel</button>
      </div>
    </form>
    <div *ngIf="error">{{ error }}</div>
  </div>
</div>

<button class="action-button add-button" (click)="createPackageMode = true"><span class="material-icons">add</span> add package</button>

<div *ngIf="createPackageMode" id="create-package">
  <form (ngSubmit)="createPackageForm(createPackageFrom)" #createPackageFrom="ngForm">
    <div>
      <label>Name: </label>
      <input ngModel name="packageName" required>
    </div>
    <div>
      <label>Address: </label>
      <input ngModel name="packageAddress" required>
    </div>
   <div>
      <label>Contact: </label>
      <input ngModel name="packageContact" required>
   </div>
   <div>
    <label for="position">Position: </label>
    <select required [(ngModel)]="selectedPosition" name="packagePosition" id="position">
      <option *ngFor="let position of positions" [value]="position" >{{position}}</option>
    </select>
   </div>
   <div *ngIf="selectedPosition === 'OfficeWorker'">
    <label for="office">Office: </label>
    <select required ngModel name="packageOffice" id="office">
      <option *ngFor="let office of offices" [value]="office.id" >{{office.name}}</option>
    </select>
   </div>
   <div>
        <label>Username: </label>
        <input ngModel name="packageUsername" required>
    </div>
    <div>
        <label>Password: </label>
        <input ngModel name="packagePassword" required>
    </div>
    <div>
      <button class="action-button text-button" type="submit" [disabled]="!createPackageFrom.valid">Create</button>
      <button class="action-button text-button cancel-button" (click)="cancelPackageCreation()">Cancel</button>
    </div>
  </form>
  <div *ngIf="error">{{ error }}</div>
</div>
