.action-button {
  border: none;
  background-color: transparent;
}

.action-button:hover {
  cursor: pointer;
}

.delete-button {
  color: #cb40e1;
}

.delete-button:hover {
  color: #a02eb1;
}

.add-button {
  display: flex;
  align-items: center;
  color: rgb(91, 157, 249);
  font-size: 18px;
}

.text-button {
  background-color: rgb(91, 157, 249);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 1rem;
  font-size: 18px;
  margin: 5px;
}

.cancel-button {
  background-color: white;
  color: rgb(91, 157, 249);
  border-color: rgb(91, 157, 249);
}

.add-button:hover,
.text-button:hover,
.cancel-button:hover {
  cursor: pointer;
  color: rgb(59, 113, 188);
}

.add-button:disabled,
.text-button:disabled,
.cancel-button:disabled {
  cursor: none;
  color: rgb(138, 185, 251);
}

.mark-button {
  color: rgb(36, 173, 195);
}

.mark-button:hover {
  cursor: pointers;
  color: rgb(28, 144, 161);
}

.mark-button:disabled {
  cursor: none;
  color: rgb(128 142 145)
}

label {
  font-size: 18px;
  font-weight: bold;
}

input {
  font-size: 18px;
  padding: 7px;
  border: none;
  border-radius: 1rem;
  background-color: rgb(227, 227, 227);
}

form {
  margin-top: 10px;
}

form > div {
  margin-bottom: 10px;
}

.info {
  font-size: 18px;
  margin-left: 10px;
}

select {
  padding: 10px;
  font-size: 18px;
  margin: 10px;
  border: 1px solid rgb(91, 157, 249);
  border-radius: 1rem;
}

#company-page-link {
  font-weight: bold;
  font-size: 25px;
}
